@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: var(--font-inter);
}

@layer base {

    html,
    body {
        height: 100%;
        overflow: hidden;
    }

    body {
        background-color: #fafbfc;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* Sleek Scrollbars */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #e2e8f0;
        border-radius: 10px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #cbd5e1;
        background-clip: content-box;
    }
}